<div class="row">

  <div class="card h-100">
    <div class="card-header pb-0 p-3">
      <div class="row">
        <div class="d-flex justify-content-start">
          <a (click)="retour()" class="btn btn-warning nav-link text-box">Retour</a>
        </div>
        <div class="col-md-12" >
          <div class="container" *ngIf="consommationFormGroup" >
            <form [formGroup]="consommationFormGroup"  role="form text-left">
              <div class="mb-3" *ngIf="engins" >
                <label style="font-size:large" for="engin">Engin</label>
                <select class="form-control" formControlName="engin">

                  <option style="font-size:large" *ngFor="let engin of engins" [value]="engin.nom">{{engin.nom}} </option>


                </select>

                <div *ngIf="submitted && consommationFormGroup.controls['engin'].errors " class="invalid-feedback">
                      <p style="font-size:large" class="alert" *ngIf="consommationFormGroup.controls['engin'].errors['required']" >
                        Le nombre de engin est requis
                      </p>
                    </div>
              </div>

              <div class="mb-3">
                <div class="row">
                  <div class="col-md-4">
                    <label style="font-size:large" for="heure">heure du chargement</label>

                    <input style="font-size:large" formControlName="heure" min="0" type="time" class="form-control"
                    placeholder="heure ou code du produit" aria-label="heure du produit" aria-describedby="email-addon"
                    [ngClass]="{'is-invalid':submitted && consommationFormGroup.controls['heure'].errors}" >
                    <div *ngIf="submitted && consommationFormGroup.controls['heure'].errors " class="invalid-feedback">
                      <p class="alert" *ngIf="consommationFormGroup.controls['heure'].errors['required']" >
                        L'heure est requise
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label style="font-size:large" for="datedudebut">Période Du</label>

                    <input style="font-size:large" formControlName="datedudebut" type="date" class="form-control"
                    placeholder="datedudebut ou code du produit" aria-label="datedudebut du produit" aria-describedby="email-addon"
                    [ngClass]="{'is-invalid':submitted && consommationFormGroup.controls['datedudebut'].errors}" >
                    <div *ngIf="submitted && consommationFormGroup.controls['datedudebut'].errors " class="invalid-feedback">
                      <p class="alert" *ngIf="consommationFormGroup.controls['datedudebut'].errors['required']" >
                        L'date du début est requise
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label style="font-size:large" for="datefin">Au</label>

                    <input style="font-size:large" formControlName="datefin" type="date" class="form-control"
                    placeholder="datefin ou code du produit" aria-label="datefin du produit" aria-describedby="email-addon"
                    [ngClass]="{'is-invalid':submitted && consommationFormGroup.controls['datefin'].errors}" >
                    <div *ngIf="submitted && consommationFormGroup.controls['datefin'].errors " class="invalid-feedback">
                      <p class="alert" *ngIf="consommationFormGroup.controls['datefin'].errors['required']" >
                        La date de la fin est requise
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label style="font-size:large" for="litre">Nombre de litre</label>

                    <input style="font-size:large" formControlName="litre" min="0" type="number" step="any" class="form-control"
                    placeholder="nombre litre" aria-label="litre du produit" aria-describedby="email-addon"
                    [ngClass]="{'is-invalid':submitted && consommationFormGroup.controls['litre'].errors}" >
                    <div *ngIf="submitted && consommationFormGroup.controls['litre'].errors " class="invalid-feedback">
                      <p class="alert" *ngIf="consommationFormGroup.controls['litre'].errors['required']" >
                        Le nombre de litre est requis
                      </p>
                    </div>
              </div>



              <div class="text-center">
                <div *ngIf="!buttonActive" class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                 </div>
                <button [disabled]="!buttonActive"  (click)="onSaveconsommation()"  type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Valider</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
