<div class="container position-fixed  z-index-sticky top-0 bg-gray-100 text-white">
  <div class="row">
    <div  class="col-12" style="display: flex !important;align-items: center !important; justify-content: center !important;">

      <nav style="display: flex !important;align-items: center !important; justify-content: center !important;" class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div style="display: flex !important;align-items: center !important; justify-content: center !important;" class="container-fluid">
          <a style="display: flex !important;align-items: center !important; justify-content:
          center !important;" class="navbar-brand btn font-weight-bolder ms-lg-0 ms-3 " >
            <img height="50"  src="../../../assets/im/IMG_20230107_210734.jpg" alt="" srcset="">
          </a>

        </div>
      </nav>

    </div>
  </div>
</div>
<section>
  <div class="page-header min-vh-75">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
          <div class="card card-plain mt-8">
            <div class="card-header pb-0 text-left bg-transparent">
              <h3 class="font-weight-bolder text-info text-gradient">Connexion</h3>
              <p class="mb-0">{{mes}}</p>
            </div>
            <div *ngIf="connexionFormGroup" class="card-body">
              <form role="form" [formGroup]="connexionFormGroup">
                <label>Identifiant</label>
                <div class="mb-3">
                  <input type="text" formControlName="username" class="form-control" placeholder="nom complet" aria-label="Email" aria-describedby="email-addon">
                </div>
                <label>Mot de passe</label>
                <div class="mb-3">
                  <input formControlName="password" type="password"
                   class="form-control" placeholder="mot de passe"
                    aria-label="mot de passe" aria-describedby="password-addon">
                </div>
              <!--   <ng-container *ngIf="userDataInput$ | async as result" [ngSwitch]="result.dataState" >
                  <ng-container *ngSwitchCase="result.dataState==DataStateEnum.LOADING">
                    <div class="spinner-border text-warning" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="result.dataState==DataStateEnum.ERROR">
                    <div class="alert alert-danger" role="alert">
                      Votre nom ou Mot de passe n'est pas reconnu
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="result.dataState==DataStateEnum.LOADED">
                    <div class="alert alert-success" role="alert">
                      Bienvenue
                    </div>
                  </ng-container>


                </ng-container> -->
                <div *ngIf="mes" class="mb-3">
                  <p class="text-info">
                    {{mes}}
                  </p>
                </div>
                <div *ngIf="spin" class="spinner-grow text-info" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>

                <div class="text-center">
                  <button (click)="connexionBack()" type="button" class="btn bg-gradient-info w-100 mt-4 mb-0">Connexion</button>
                </div>

              </form>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto
            h-100 z-index-0 ms-n6"
             style="background-image:url('../../../assets/im/curved6.jpg')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
